body {
    /* background-image: "url(/Intro.jpg)"; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top right;
    background-attachment: fixed;
    background-blend-mode: overlay;
    transition: background-image 0.5s;
  }