body {
    background-image: "url(/scribe-background.jpg)";
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width:'100vw';
    height: '100vh';
    /*background-attachment: fixed;
    background-blend-mode: overlay;
    transition: background-image 0.5s; */
}